:root {
    --loader-background-color: #e2e2e2;
    --loader-highlight-color: #d0d0d0;
}



.card {
    width: 100%;
    display: flex;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;
    border-bottom: .5px solid black;
    padding: 15px 0;
    position: relative;
}

.image {
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 25px;
    margin: 20px;
    margin-left: 0;
    background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
    animation: loading 2s infinite ease-in-out;
    background-size: 200% 100%;
}

.name {
    width: 150px;
    height: 12px;
    background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
    animation: loading 2s infinite ease-in-out;
    background-size: 200% 100%;
}

.city {
    width: 50px;
    height: 8px;
    background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
    animation: loading 2s infinite ease-in-out;
    background-size: 200% 100%;
}

.phone {
    width: 120px;
    height: 8px;
    background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
    animation: loading 2s infinite ease-in-out;
    background-size: 200% 100%;
}


@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}